<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Celebrity AI Home</title>
</head>
<body>
    <h1>Welcome to Celebrity Face Recognition</h1>

    {% if profile %}
        Welcome, {{ profile.username }} |
        <a href="{% url 'upload' %}">Upload</a> |
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'register' %}">Register</a> |
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'guest_upload' %}">Continue as Guest</a>
    {% endif %}
</body>
</html>