{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}

    <h1>Upload an Image</h1>

    {% if profile %}
        <p>You are logged in as: {{ profile.username }}</p>
    {% else %}
        <p>You are logged in as a guest.</p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-form">
            <div class="form-group">
                <label for="id_image">Choose Image:</label>
                <label for="id_image" class="custom-file-upload">Browse...</label>
                {{ form.image }}

        <!-- Image Preview Container -->
                <div id="image-preview-container">
                    <img id="image-preview" src="#" alt="Image preview" />
                </div>
            </div>
            <br>
            <button type="submit" class="upload-btn">Upload</button>
        </div>
    </form>
<script>
document.getElementById('id_image').addEventListener('change', function (event) {
    const preview = document.getElementById('image-preview');
    const file = event.target.files[0];

    if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
            preview.src = e.target.result;
            preview.style.display = 'block';
        };
        reader.readAsDataURL(file);
    } else {
        preview.src = '#';
        preview.style.display = 'none';
    }
});
</script>
{% endblock %}